$break-small: 320px;
$break-large: 1200px;

$font-stack: Lato, sans-serif;
$primary-bg-color: #efefef;
$Montserrat: Montserrat, sans-serif;

$title-txt-clr: #333;
$para-txt-clr: #444;

$border-radius: 4px;

.box {
  height: auto;
  margin: -9px;
  //   background-color: #f3f9fd;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 12px;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.customer_name {
  font-family: $Montserrat;
  font-size: 16px;
  color: #111;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  color: #333;
}
.customer_m_no {
  font-family: $Montserrat;
  font-size: 14px;
  color: #444;
  // font-weight: 500;
}

.btns {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  border-radius: 1px;
  font-family: $Montserrat;
  font-size: 14px;
  // border:none;
}

.custom-dialog {
}

.material-icons {
  font-size: 12px;
}

.custom-dialog-container {
  padding: 6px;
  background-color: #f00;
}

.activeFlg {
  background-color: #008000;
  color: #fff;
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  margin: 0;
  letter-spacing: 1.1px;
}

.inActiveFlg {
  background-color: rgb(194, 00, 52);
  font-size: 10px;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  margin: 0;
  letter-spacing: 1.1px;
}

.customerList {
  height: 65vh;
  // width:100vw;
  overflow-y: auto;
  padding: 0;
  padding-left: 6px;
  overflow-x: hidden;
}

.delivery_count {
  background-color: #fff;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 16px;
  // border: 1px solid #ccc;

  border-radius: 1px;
  font-weight: 500;
  color: #fff;
  background-color: #666;
  font-family: $Montserrat;
  font-size: 14px;
}

.apartment {
  background-color: #fff;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 2;
  font-family: $Montserrat;
  font-size: 14px;
}

.nut_type {
  background-color: #fff;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 2;
  font-family: $Montserrat;
  font-size: 14px;
}
.rtp {
  background-color: #ab2d2d;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 13px;
  color: #fff;
  border: 1px solid #ab2d9d;
  border-radius: 2;
}

.dnd {
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 2;
  padding: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.paid {
  background-color: #008000;
  color: #fff;
  font-size: 11px;
  border: 1px solid #008000;
  border-radius: 2;
  padding: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.paid {
  background-color: #f00;
  color: #fff;
  font-size: 11px;
  border: 1px solid #f00;
  border-radius: 2;
  padding: 6px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.notDelivered {
  background-color: #dc6504;
  color: #fff;
  border: none;
  border-radius: 1px;
}
.delivered {
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 1px;
}

.addr {
  margin-top: 6x;
  margin-bottom: 6px;
  font-size: 14px;
  color: #666;
  font-family: $Montserrat;
  background-color: #f5f5f5;
  padding: 6px;
}

.mat-tab-group {
  max-height: 74vh !important;
}

.inst {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-bottom: 0px !important;
  // border: 1px solid #eee;
  color: #dc6504;
  font-family: $Montserrat;
  font-size: 14px;
}

.orderPage-btns {
  width: 100%;
  border-radius: 1px;
  background-color: #008000;
  color: #fff;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 1;
}

::ng-deep .mat-select {
  font-family: $Montserrat;
  font-size: 14px;
}

::ng-deep .mat-checkbox {
  font-size: 14px !important;
  // background-color: #1bbc9d !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #1bbc9d !important;
}

::ng-deep .mat-active {
  color: #fff !important;
  background-color: #1bbc9d !important;
  font-family: $Montserrat;
  font-size: 14px;
}

::ng-deep .cdk-overlay-pane {
  min-width: auto;
}

::ng-deep mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color: #333 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1bbc9d !important;
}
