<div class="container">
    <p style="padding: 12px; background-color: #333; color:#fff; text-align: center; margin-bottom: 0px;">Hi {{name}}!
    </p>
    <p style="padding: 6px;text-align: left; font-size: 14px; border-bottom:1px dotted #ccc;">Orders on
        <span style="font-weight: 500;">{{todaysDateFormatted}}</span></p>

    <mat-spinner *ngIf="listFlg" style="margin:0 auto;"></mat-spinner>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="row box" cdkDrag *ngFor="let item of list; let i = index;" id="{{'list_' + i}}">
            <div class="col-7">
                <div class="customer_name">{{item.data.c_name||'unknown'}}</div>
                <div class="customer_m_no"><span style="font-size: 12px; color:#aaa; font-weight: 300;">+91</span>
                    <a href="tel:{{item.no}}"> {{item.no}}</a></div>
            </div>
            <div class="col-5 d-flex flex-row-reverse"
                style="text-align: right; margin-left: -6px; margin-right: -6px; padding-right: 0;">
                <!-- <button style="margin:3px;" class="right">Call</button> -->
                <!-- <a style="margin:3px;" href={{item.mobile}}>Call</a> -->

                <button style="margin:3px; height: 36px;" class="btn btn-primary btns" (click)="viewAction($event)"
                    id="{{'view_'+i}}">View</button>
                <button style="margin:3px; height: 36px;" class="btn btn-primary btns" (click)="deliveredAction($event)"
                    id="{{'deliver_'+i}}">Delivered</button>
            </div>
            <div class="col-12">
                <span class="delivery_count">{{item.data.per_day}}</span>&nbsp;
                <span class="nut_type">{{item.data.nut_type}}</span>&nbsp;
                <span class="nut_type">Open</span>&nbsp;
                <span class="nut_type">DND</span>&nbsp;
                <span class="paid">Paid</span>
            </div>
        </div>
    </div>
</div>