
.orderPage-btns {
  border-radius: 0 !important;
  // border-right: 1px dotted #999;
  // border-left: 1px dotted #999;
  margin: 6px;
  font-size: 14px;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top:0;
}



