<button class="btn btn-dark" style="border-radius:0 !important;" (click)="clickToGoBack()">Back</button>
<table class="tg">
    <tr>
        <th class="tg-0pky">Customer name </th>
        <th class="tg-0pky">Benny Geo G</th>
    </tr>
    <tr>
        <td class="tg-0lax">Contact </td>
        <td class="tg-0lax">9486140936</td>
    </tr>
    <tr>
        <td class="tg-0lax">Start date</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">End date</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Nut type</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Package</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Address</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Price</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Straw</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Replacements</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Compliments</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Paid</td>
        <td class="tg-0lax"></td>
    </tr>
    <tr>
        <td class="tg-0lax">Remaining days</td>
        <td class="tg-0lax"></td>
    </tr>

    <tr>
        <td class="tg-0lax">Break days</td>
        <td class="tg-0lax"></td>
    </tr>

</table>

<div>Map</div>

<div class="btns">
    <button class="orderPage-btns btn btn-outline-secondary">Delivered</button>
    <button class="orderPage-btns btn btn-outline-secondary">Not Delivered</button>
    <button class="orderPage-btns btn btn-outline-secondary">Pay</button>
</div>