table,
th,
td {
  // border: 1px dashed #333;
}

.tg {
  border-collapse: collapse;
  border-spacing: 1;
  width: 100%;
  // border: 1px dashed #333;
}

tr > th:first-child,
tr > td:first-child {
  width: 40%;
  // background-color: #eee;
  // border: 1px dashed #333;
  border-bottom: 1px dotted #999;
  text-align: right !important;
  font-size: 11px;
  color: #999;
  // font-style: italic;
}

.tg td {
  // border: 1px dashed #333;
  // font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  // border-style: solid;
  // border-width: 1px;
  overflow: hidden;
  word-break: normal;
  // border-color: black;
}

.tg th {
  // border: 1px dashed #333;
  // font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  // border-style: solid;
  // border-width: 1px;
  overflow: hidden;
  word-break: normal;
  // border-color: black;
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

.orderPage-btns {
  border-radius: 0 !important;
  // border-right: 1px dotted #999;
  // border-left: 1px dotted #999;
  margin: 6px;
  font-size: 14px;
}
