.box {
  height: auto;
  //   background-color: #f3f9fd;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.customer_name {
  font-size: 15px;
  color: #111;
  font-style: normal;
  font-weight: 300;
}
.customer_m_no {
  font-size: 20px;
  color: #444;
  font-weight: 500;
}

.btns {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.custom-dialog {
}

.material-icons {
  font-size: 36px;
  margin: 12px;
}

.input-form {
  width: 100%;
}

.input-full-width {
  width: 100%;
}

.custom-dialog-container {
  padding: 6px;
  background-color: #f00;
}
.serachCont {
  background-color: #eee;
}

.activeFlg {
  background-color: #008000;
  color: #fff;
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  margin: 0;
  letter-spacing: 1.1px;
}

.inActiveFlg {
  background-color: rgb(194, 00, 52);
  font-size: 10px;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  margin: 0;
  letter-spacing: 1.1px;
}

.remainingDays {
  background-color: #eee;
  border: 1px solid #aaa;
  font-size: 12px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.packageDays {
  border: 1px solid #aaa;
  font-size: 12px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.customerList {
  // height: 65vh;
  // width:100vw;
  overflow-y: auto;
  padding: 0;
  padding-left: 6px;
  overflow-x: hidden;
  margin-left: -13px;
  margin-right: -15px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #333;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #3f51b5 !important;
  border-color: #333;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3f51b5;
  border-color: #333;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 100;
}
.myModal {
  z-index: 101;
}
.apmt {
  background-color: #ff7a0021;
  // color: #fff;
  border: 1px solid #aaa;
  font-size: 12px;
  display: inline;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 3px;
}

.rtp {
  // background-color: #ff7a0021;
  // color: #fff;
  border: 1px solid #aaa;
  font-size: 12px;
  display: inline;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 3px;
  font-weight: 500;
}

.danger {
  // color: red;
  // border: 1px solid #f00;
  background-color: #e1170e;
  color: #fff;
  border: 1px solid #d24039;
}

.normal {
  background-color: #63ba2d;
  color: #fff;
  border: 1px solid #0092a9;
}

.footerCls {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 8px 0px rgba(148, 148, 148, 1);
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

.filterArea {
  padding: 6px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.47);
  -moz-box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.47);
  box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.47);
}
