<div class="container">
    <div class="row" style="border-bottom: 1px solid #ccc;">
        <div class="col-3" style="border-left: 1px solid #ccc;" (click)="clickToHome()"></div>
        <div class="col-9" style="padding-right: 0;">
            <div style="position: relative; float: right;  border-right: 1px solid #ccc;" (click)="add_person()">
                <i class="material-icons">person_add</i>
            </div>
            <div style="position: relative; float: right;  border-right: 1px solid #ccc;" (click)="sendMessage()">
                <i class="material-icons">
                    message
                </i>
            </div>
            <div style="position: relative; float: right; border-right: 1px solid #ccc;  border-left: 1px solid #ccc;"
                (click)="report()">
                <i class="material-icons">
                    show_chart
                </i>
            </div>
            <div style="position: relative; float: right; border-right: 1px solid #ccc;  border-left: 1px solid #ccc;"
                (click)="restore()">
                <i class="material-icons">
                    restore
                </i>
            </div>
        </div>
    </div>
</div>