.input-full-width {
    width: 44%;
    margin: 6px;
}

.fb_write_status_txt {
    height: 100vh;
    width: 300vw;
    display: table-cell;
    vertical-align: middle;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
}
