$break-small: 320px;
$break-large: 1200px;

$font-stack: Lato, sans-serif;
$primary-bg-color: #efefef;
$Montserrat: Montserrat, sans-serif;

// Search box css
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}

[dir="rtl"] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaaaaa;
    border: 1px solid #919191;
}

/*=====  End of Choices  ======*/
* {
    box-sizing: border-box;
}

.s006 {
    // min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    // background: url("../images/Searchs_006.png");
    background-size: cover;
    background-position: center center;
    font-family: $Montserrat;
    font-size: 13px;
    // padding: 15px;
}

.s006 form .inner-form .input-field {
    // height: 70px;
    width: 100%;
    position: relative;
}

.s006 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    background: #fff;
    display: block;
    padding: 10px 18px 10px 50px;
    font-size: 13px;
    color: #666;
    border: 1px solid #aaa;
    border-radius: 34px;
}

.s006 form .inner-form .input-field input.placeholder {
    color: #ccc;
}

.s006 form .inner-form .input-field input:-moz-placeholder {
    color: #ccc;
    font-size: 13px;
}

.s006 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.s006 form .inner-form .input-field input:hover,
.s006 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s006 form .inner-form .input-field .btn-search {
    width: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.s006 form .inner-form .input-field .btn-search svg {
    fill: #ccc;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-out, color 0.2s ease-out;
}

.s006 form .inner-form .input-field .btn-search:hover,
.s006 form .inner-form .input-field .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.s006 form .inner-form .input-field .btn-search:hover svg,
.s006 form .inner-form .input-field .btn-search:focus svg {
    fill: #666;
}

.input-full-width {
    width: 44%;
    margin: 6px;
}

.fb_write_status_txt {
    height: 100vh;
    width: 300vw;
    display: table-cell;
    vertical-align: middle;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
}

.searchCont {
    display: block;
}

.search-full-width {
    display: block;
}

#search {
    width: auto;
}

.s006 form .inner-form .input-field {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 40px;
}

.s006 form .inner-form .input-field input {
    padding-left: 55px;
    font-size: 13px;
}

.s006 form .inner-form .input-field .btn-search svg {
    width: 26px;
    height: 26px;
}

// Search box css

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}

[dir="rtl"] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaaaaa;
    border: 1px solid #919191;
}

/*=====  End of Choices  ======*/
* {
    box-sizing: border-box;
}

.s006 {
    // min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    // background: url("../images/Searchs_006.png");
    background-size: cover;
    background-position: center center;
    font-family: $Montserrat;
    font-size: 13px;
    // padding: 15px;
}

.s006 form .inner-form .input-field {
    // height: 70px;
    width: 100%;
    position: relative;
}

.s006 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    background: #fff;
    display: block;
    padding: 10px 18px 10px 50px;
    font-size: 13px;
    color: #666;
    border: 1px solid #aaa;
    border-radius: 34px;
}

.s006 form .inner-form .input-field input.placeholder {
    color: #ccc;
}

.s006 form .inner-form .input-field input:-moz-placeholder {
    color: #ccc;
    font-size: 13px;
}

.s006 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.s006 form .inner-form .input-field input:hover,
.s006 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s006 form .inner-form .input-field .btn-search {
    width: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.s006 form .inner-form .input-field .btn-search svg {
    fill: #ccc;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-out, color 0.2s ease-out;
}

.s006 form .inner-form .input-field .btn-search:hover,
.s006 form .inner-form .input-field .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.s006 form .inner-form .input-field .btn-search:hover svg,
.s006 form .inner-form .input-field .btn-search:focus svg {
    fill: #666;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
    .search-full-width {
      display: block;
      // margin-top: 60px;
      // margin-top: 3px;
      background: #fff;
    }
  
    #search {
      width: 96vw;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .searchCont {
      display: block;
    }
  
    #search {
      width: auto;
    }
  }
  